*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
}
.container{
	position: relative;
	max-width: 800px;
	height: 90vh;
	padding: 10px;
	margin: 50px auto;
	background-color:#f1e7e9;
}

.box{
	width: 100%;
	background-color: #6b5454;
	height: 86vh;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.addTask{
	width: 100%;
	display: flex;
	padding: 10px 0;
	background-color: #b51332;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.addTask > input[type="text"]{
	width: 94%;
	margin: 0px 10px;
	padding: 10px;
	font-size: 22px;
	border: none;
	border-radius: 5px;
	background-color: #bf6f6f;
	outline: none;
}
.addTask button{
	margin: 0px -36px;
	padding: 0px;
	width: 50px;
	font-size: 40px;
	border-radius: 50px;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: white;
	color: #b51332;
}
.notCompleted, .Completed{
	margin: 5px 0;
	padding: 20px;
}

ol{
	list-style: none;
}
ol li{
	width: 100%;
	padding: 18px;
	margin: 5px 0;
	background: #e96969bb;
	font-size: 22px;
}
ol.notCompleted li{
	background: white;
	color: #6b5454;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
}

ol.Completed li{
	background: #f1e7e9;
	color: #6b5454;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
}

ol li::before{
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	display: inline-block;
	line-height: 2rem;
	text-align: center;
	color: #fff;
	margin-right: 0.5rem;
}
li button{
	float: right;
	padding: 5px;
	font-size: 28px;
	line-height: 28px;
	margin-right: 15px;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}
.check{
	color: green;
	border: 2px solid green;
	border-radius: 22px;
}
.check1{
	color: white;
	background-color: green;
	border: 2px solid green;
	border-radius: 22px;
}
.trash{
	color: rgb(121, 119, 119);
}